<div class="row">
  <div class="twelve columns">
    <section class="pill tabs">
      <ul class="tab-nav">
        <li class="active"><a href="#">Tab 1</a></li>
        <li><a href="#">Tab 2</a></li>
        <li><a href="#">Tab 3</a></li>
      </ul>
      <div class="tab-content active">
        <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus...</p>
      </div>
      <div class="tab-content">
        <p>Morbi tincidunt, dui sit amet facilisis feugiat...</p>
      </div>
      <div class="tab-content">
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti...</p>
      </div>
    </section>
  </div>
</div>