<p> We have Meetings the third Wednesday of the month, please join us and share your thoughs</p>
</br>

	<a href="http://www.seattle.gov/dpd/aboutus/whoweare/designreview/program/default.htm" style="font-size:14pt;margin:2px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="Seattle.gov Design Review" rel="nofollow"><b>Design Review Process</b></a>
	<a href="http://www.seattle.gov/dpd/aboutus/whoweare/designreview/boards/default.htm" style="font-size:10pt;margin:2px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="City of Seattle Design Review Boards" rel="nofollow">Design Review Boards</a>
	<a href="http://www.seattle.gov/dpd/aboutus/whoweare/designreview/designguidelines/default.htm" style="font-size:12pt;margin:0px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="City Design Review Guidlines" rel="nofollow">Review Guidelines</a>
	<a href="http://www.seattle.gov/dpd/aboutus/news/events/DesignReview/upcomingreviews/" style="margin:0px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="Citywide Upcoming Reviews" rel="nofollow"><b><font size="5">Upcoming Reviews</font></b></a>
	<a href="http://www.seattle.gov/neighborhoods/npi/plans/central/" style="font-size:12pt;margin:2px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="Central Area Neighborhood Plan" rel="nofollow">Neighborhood Plan</a><b>
	<a href="http://www.seattle.gov/neighborhoods/districts/central.htm" style="margin:0px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="Central Area District Council" rel="nofollow"><font size="4">Central Area District Council</font></a></b>
	<a href="http://web1.seattle.gov/dpd/maps/" style="font-size:9pt;margin:0px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="DPD Activity Locator" rel="nofollow">DPD Activity Locator</a>
	<a href="http://www.seattle.gov/transportation/23rd_ave.htm" style="font-size:11pt;margin:0px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:0px" target="_blank" title="Paving Plan" rel="nofollow">SDOT 23rd Ave Paving Plan</a>
	<a href="http://www.seattle.gov/dpd/cityplanning/completeprojectslist/unionjackson/whatwhy/default.htm" style="margin:0px;color:rgb(100,100,100);font-family:Arial,sans-serif;padding:3px" target="_blank" title="City's 23rd Ave Action Plan" rel="nofollow"><b><font size="3">23rd Ave Action Plan</font></b></a></div>


