
<!-- Header and Nav -->

<div class="row">
	<div class="large-3 columns">
		<h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
	</div>
	<div class="large-9 columns">
		<ul class="inline-list right">
			<li><a href="#">Section 1</a></li>
			<li><a href="#">Section 2</a></li>
			<li><a href="#">Section 3</a></li>
			<li><a href="#">Section 4</a></li>
		</ul>
	</div>
</div>

<!-- End Header and Nav -->


<div class="row">    
	
	<!-- Main Content Section -->
	<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
	<div class="large-9 push-3 columns">
		
		<h3>Page Title <small>Page subtitle</small></h3>
		
		<p>Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.</p>
		
		<p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>
		
		<p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p>
		
		<p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>
		
	</div>
	
	
	<!-- Nav Sidebar -->
	<!-- This is source ordered to be pulled to the left on larger screens -->
	<div class="large-3 pull-9 columns">
		
		<ul class="side-nav">
			<li><a href="#">Section 1</a></li>
			<li><a href="#">Section 2</a></li>
			<li><a href="#">Section 3</a></li>
			<li><a href="#">Section 4</a></li>
			<li><a href="#">Section 5</a></li>
			<li><a href="#">Section 6</a></li>
		</ul>
		
		<p><img src="http://placehold.it/320x240&text=Ad" /></p>
		
	</div>
	
</div>


<!-- Footer -->

<footer class="row">
	<div class="large-12 columns">
		<hr />
		<div class="row">
			<div class="large-6 columns">
				<p>&copy; Copyright no one at all. Go to town.</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><a href="#">Section 1</a></li>
					<li><a href="#">Section 2</a></li>
					<li><a href="#">Section 3</a></li>
					<li><a href="#">Section 4</a></li>
				</ul>
			</div>
		</div>
	</div> 
</footer>


<div class="row">
	<div class="small-4 large-3 columns"></div>

	<div class="small-8 large-9 columns">
		<div id="sites-canvas-main-content">
			<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
				<tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><div><b>The Central Area Land Use Review Committee meets every 4th Wednesday of the month.</b></div><div><br><strong>Amanda Bryan</strong>,&nbsp;<span style="line-height:1.25;font-size:10pt">Chair/Facilitator</span></div><div><i>Jackson Place</i></div><div><div><br></div><div><strong>Meg Konkol</strong>,&nbsp;<span style="line-height:1.25;font-size:10pt">Secretary/Website Administrator</span></div><div>Meg Konkol earned her degree in Anthropology at Oregon State University in 2002. On graduating, she worked for the local homeless shelter,&nbsp;gaining valuable experience&nbsp;serving vunerable populations throughout the community.&nbsp;Meg&nbsp;later moved to Portland, OR,&nbsp;where she worked for a major construction management firm and volunteered&nbsp;for a local non-profit for four years, serving as chair for two. Meg relocated to the Seattle Central&nbsp;Area in 2012, resides in Garfield Community and serves on the Garfield Community Council. </div><div><br>&nbsp;</div><div><strong>Bill Bradburd</strong></div><div><span style="line-height:1.25;font-size:10pt"><br></span></div><div><span style="line-height:1.25;font-size:10pt"><strong>Jeff Floor</strong></span></div><div><br></div><div><strong>Stephanie Johnson-Tolliver</strong></div><div><br></div><div><strong>Mike Kent</strong></div><div>Mike Kent is a resident of the Central Area and an urban planner. He moved to Seattle from New York City in 2009. He has worked in the non-profit, public, and private sectors, and he was formerly a community leader in Capitol Hill</div><div>&nbsp;</div>
					<div>
						<strong>Jonathan Konkol, AICP</strong></div>
						<div>Jonathan Konkol is an urban planner and architect.  Hailing from Portland Oregon, Jonathan moved to the central district when he came to Seattle to attend the University of Washington.  Jonathan earned a Master of Urban &amp; Regional Planning from Portland State and is completing a Master of Architecture at UW. He believes that equity, social justice and ecological sustainability are the foundation of good planning and design.  Jonathan lives with his wife Meg in the Garfield neighborhood, where he serves on the Garfield Community Council.&nbsp; 
						</div>
						<div><br></div>

						<div>
							<p><img src="http://placehold.it/120x140&text=your face here" /></p><strong>Michael Moedritzer</strong></div>
							<div>Mike Moedritzer grew up in St. Louis.  He has a bachelor's degree in Architecture from Washington University Architecture School in 1981, and a Master's Degree in Architecture with an Urban Design Certificate from the University of Washington in 1988.  He has worked as an architect in Seattle for a number of firms, designing mostly low-income housing, including the Seattle Housing Authority's Rainier Vista redevelopment.  He has also done civic duty volunteering on citizen advisory panels helping the City of Seattle develop the original design review process, rewrite land use code for commercial and multi-family zones, and write neighborhood-specific design guidelines for the University District.  He currently works at GGLO Architecture.  Mike's ties to the Central District began with his three kids at Washington Middle School and later Garfield High School.  He's lived in Colman Park since 2004.</div><div><br></div>

							<div><strong>Bryan Sanders</strong></div>
							<div><br></div>

							<div><strong>Bill Zosel</strong></div>
							<div>Bill Zosel has lived in the Central Area since 1979.  He has participated in the community council for his neighborhood, Squire Park, for much of that time.  He participated in the process that produced the Central Area Neighborhood Plan and, in particular, the Neighborhood Plan for the 12th Avenue Urban Center Village. Since the adoption of the Neighborhood Plan he has participated in the stewardship committee for the 12th Avenue Plan. The inspiration to take part in the neighborhood arose in 1992 when he saw the results of neighbors getting together to forge an agreement among the community, the City of Seattle, and Seattle University that changed the course of development in the neighborhood in a significant and positive way</div>
							<div><br></div>
							<div><br></div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</div>























