<article>
<h5>Got suggestions or need to get in touch with us?</h5> 

<p>This is a group of community members for the community; so we hope you'll get in touch with us and share your ideas on how this group can continue to improve! If you are interested in joining the LURC or simply being on our email list to be notified of future project reviews, please email us at:  <%= mail_to "info@centralarealurc.org" %> </p>
</article>