<article>
<h5>CA Land Use Review Committee: Ground Rules for Collaboration</h5><p></p>

<p>In the crazy, complex business of community collaboration , any person or group has the power to derail the process. Adopting a code of conduct - where everyone's roles and responsibilities are understood and agreed upon from the beginning - keeps projects on track and creates the conditions for collective creativity. </p>

<strong>CIVILITY:</strong>
<ul.circle> 
<li><b>Share airtime: Everyone participates:</b> no one is allowed to dominate. </li>
<li>Assume that together we know more: Work to understand the assumptions, opinions, and the ideas of others. </li>
<li>Reject the culture of blame: Be tough on ideas, gentle on people. </li>
<li>Put yourself in someone else's shoes: Represent those not present.  </li></ul>
<strong>INQUIRY:</strong> <p></p>
<ul.circle>
<li>Open your ears and your mind: Listening is NOT just waiting your turn to speak. </li>
<li>Do your homework: Understand the problem and its history. </li>
<li>Look for common solutions, then commit to them. </li>
<li>Seek the community's highest good for both present and future. </li></ul> 

<strong>CREATIVITY:</strong> <p></p>
<ul> 
<li>Forge Multiple Victories: The best ideas solve more than one problem at a time. </li>
<li>Explore unconventional approaches: New conditions demand new solutions.</li>
<li>Turn opposition into proposition: Instead of fighting a weak idea, come up with a better one. </li>
<li>Transform differences into gifts: Arguing over the differences among us wastes money, time, resources, goodwill, and talent. Exchanging ideas with others leads to greater insights, and more inclusive, creative solutions. </li>
<li>Change your mind in light of new information: Do your part to create an atmosphere where meetings are about discovery and collaboration, not platforms for convincing others that your idea is king. </li>
<li>Maintain the balance between heart and mind, knowledge and intuition, expertise and passion. </li>
</ul>
</article>