<!DOCTYPE html>
<html>
<p><Strong>Welcome to the website of the Central Area Land Use Review Committee (CA LURC)!</strong></p>

<p>We are a <strong>group of residents</strong>, some of us with experience in the building industry but all who live within the Central Area, who are striving to bridge the communication gap between developers and the communities they build within. </p>

<p>We look for opportunities where <strong>development can be more sensitive to our specific community needs and desires</strong> and then advocate for those accomodations while collaborating with developers and residents.</p>

<p>We also hope to reduce the fear that comes with new development by demystifying how the process of development works. For this, we will use our website for gathering together useful resources, defining some of the terminology you’ll hear in a CA LURC meeting, and provide a ‘nuts & bolts’ explanation on the processes associated with develpment. </p>

<p>But most of all, this is where you’ll find out about any upcoming projects that the CA LURC plans to review - so don’t forget to check out the tab titled Reviews Map!</p>
</html>