<div>

<big><strong>Amanda Bryan</strong></big>, Chair/Facilitator
<P>Amanda is a resident of the Central Area and lives in the Jackson Place neighborhood. Having grown up in South Seattle in a bi-racial family, Amanda brings a unique perspective on development as it influences both community character and social equity. She has experience working in the building industry as an architect but dedicates much of her free time toward improving her community through various volunteer activities. She is currently participating in the City of Seattle’s 23rd Ave Action Plan as a member of the Advisory Core Team (ACT) and is a member of the Jackson Place Community Council.</P>

<big><strong>Jonathan Konkol</strong></big>, AICP, Vice Chair 
<p>Jonathan Konkol is an urban planner and architect. Hailing from Portland Oregon, Jonathan moved to the central area when he came to Seattle to attend the University of Washington. Jonathan earned a Master of Urban & Regional Planning from Portland State and is completing a Master of Architecture at UW. He believes that equity, social justice and ecological sustainability are the foundation of good planning and design. Jonathan lives with his wife Meg in the Garfield neighborhood, where he serves on the Garfield Community Council. </p>

<big><strong>Meg Konkol</strong></big>, Secretary/Website Administrator
<p>Meg Konkol earned her degree in Anthropology at Oregon State University in 2002. On graduating, she worked for the local homeless shelter, gaining valuable experience serving vulnerable populations throughout the community. Meg later moved to Portland, OR, where she worked for a major construction management firm and volunteered for a local non-profit for four years, serving as chair for two. Meg relocated to the Seattle Central Area in 2012, resides in Garfield Community and serves on the Garfield Community Council.</p>
 
<big><strong>Bill Bradburd</strong></big>
<p>Bill Bradburd is a retired information systems consultant who became interested land use issues a few years ago as changes and gentrification began disrupting his neighborhood, Jackson Place, near Little Saigon.   Besides being active with his community council and district council, he chairs the Seattle Neighborhood Coalition, is co-chair of the City Neighborhood Council Budget Committee, and provides guidance to community groups around the city.</p>

<big><strong>Paul Byron Crane</strong></big>
<p>Paul's passionate interest is a woven tapestry of, knowledge and engagement in sustainable design. Paul has traveled internationally to explore and document built examples of sustainable design and have engaged local designers and government representatives in a discussion of their sustainable design development. By meeting, discussing and touring sustainable developments with stakeholders, weaves Paul's rich tapestry of knowledge concerning both regional, national and international emerging design opportunities, enabling him to obtain a robust, broad, contextual understanding of the cultural, economic and political aspects of “Green Development.”</p>

<big><strong>Jeff Floor</strong></big>
<p>Jeff Floor graduated from the University of Utah in 1983 with a degree in painting and drawing, pursued the allure of the art-world mecca, New York City, only to realize that the commodification of art was more than his psyche could handle. Rededicating his livelihood to one that could address human-made impact on this planet, entered the UW architecture program in 1985, graduating in 1990 with an MArch and a certificate in Urban Design. Worked at Arai/Jackson, Arrellano Christofides, Miller Hull and currently at LMN Architects. Resident of Leschi since 1995, where he and wife Delia have raised two sons, both of whom attended Washington Middle School and Garfield High School (Theo is currently at WWU; Mitso is a rising junior at GHS). Committee member for the creation of the Officer Timothy Brenton memorial on 29th Avenue. Currently a tutor at WMS and board member of the Leschi Community Council.</p>

<big><strong>Mike Kent</strong></big>
<p>Mike Kent is a resident of the Central Area and an urban planner. He moved to Seattle from New York City in 2009. He has worked in the non-profit, public, and private sectors, and he was formerly a community leader in Capitol Hill. In Capitol Hill, he led a project focused on making 12th Avenue a safer route for travel, and he continues to lead the Melrose Promenade project, which is aimed at improving the streetscape along Melrose Avenue. During his time in New York City, he worked as an urban planner in Midtown Manhattan. He currently works for the City of Seattle's Office of Housing.</p>

<big><strong>Michael Moedritzer</strong></big>
<p>Mike Moedritzer grew up in St. Louis. He has a bachelor's degree in Architecture from Washington University Architecture School in 1981, and a Master's Degree in Architecture with an Urban Design Certificate from the University of Washington in 1988. He has worked as an architect in Seattle for a number of firms, designing mostly low-income housing, including the Seattle Housing Authority's Rainier Vista redevelopment. He has also done civic duty volunteering on citizen advisory panels helping the City of Seattle develop the original design review process, rewrite land use code for commercial and multi-family zones, and write neighborhood-specific design guidelines for the University District. He currently works at GGLO Architecture. Mike's ties to the Central Area began with his three kids at Washington Middle School and later Garfield High School. He's lived in Colman Park since 2004.</p>

<big><strong>Ryan Simmons</strong></big>
<p>Ryan hails from the great Midwestern city of Chicago and relocated to Seattle from Los Angeles after completing her doctorate in Physical Therapy.  She is now serving members of the Central Area community as a Physical Therapist at Harborview Medical Center.  </p>

<p>Ryan, also a member of the Squire Park Community Council, joins the Central Area Land Use Review Committee purely as a concerned resident.  The fact is that the Central Area is changing, whether it wants to, or not.  It is quickly being transformed by developers and entrepreneurs, most who seemingly have had no real discussions, and therefore have no true understanding, regarding the wants and needs of the the members of this community.  It is Ryan's vision for the LURC to represent all of the diverse voices in the Central Area and bring the opinions of the residents to the forefront of discussions when plans for change are in their infancy.  Ryan hopes to engage the community and attempt to increase the LURC's membership with a representative group of diverse and interested neighbors.</p>

<big><strong>Bill Zosel</strong></big>
<p>Bill Zosel has lived in the Central Area since 1979. He has participated in the community council for his neighborhood, Squire Park, for much of that time. He participated in the process that produced the Central Area Neighborhood Plan and, in particular, the Neighborhood Plan for the 12th Avenue Urban Center Village. Since the adoption of the Neighborhood Plan he has participated in the stewardship committee for the 12th Avenue Plan. The inspiration to take part in the neighborhood arose in 1992 when he saw the results of neighbors getting together to forge an agreement among the community, the City of Seattle, and Seattle University that changed the course of development in the neighborhood in a significant and positive way</p>

</div>

















