<!DOCTYPE html>
<html>

<big><strong>WHO WE ARE:</strong></big>
<p>We are a community group composed of residents, local business owners, and professionals, all working together in a positive atmosphere of collaboration with the express goal of creating a more open dialogue between community members of the Central Area and incoming developers. We want to see our neighborhood shaped by those who know it best, its residents. As such, we aim to facilitate community conversations, through a common forum focused on land use issues, which constructively shape development as it enters the neighborhood.</p>

<big><strong>WHY WE EXIST:</strong></big>
<p>All too often, residents find that the formalized system by which new projects proceed through the City of Seattle’s Design Review Program is suited to dealing with a very finite set of issues regarding a particular project’s physical articulation and orientation but rarely addresses larger issues such as overall housing affordability or how to maintain and attract local businesses. Augmenting the City’s official Design Review Program, this group strives to begin discussions with developers at a much earlier stage, well before they have invested large sums of money into a particular design, in order to address issues such as:</p>

<ul class="disc">
	<li>Community preferences regarding the type, size, and affordability of commercial space intended for lease or sale </li>

	<li>Strategies for adjusting height and density within a project to accommodate amenity spaces such as green space, plazas, etc. </li>

	<li>Lease rates and spatial configurations that attract small/local businesses</li>

	<li>Integration of Transit Oriented Development (TOD) where applicable</li>

	<li>Architectural character and scale in relation to a project’s surrounding context</li>

	<li>Transitions of a project’s height, bulk, and scale to surrounding uses, especially neighboring low-rise residential </li>

	<li>Strategies for pedestrianism (i.e. attention to scale & building detail at the ground level, efforts to reduce auto centric development, connectivity to transit services, etc.) </li>

	<li>Visual and physical impacts of parking access and loading facilities on the pedestrian realm, including issues of safety </li>

	<li>Shadowing impacts on public spaces, including streets and sidewalks, plazas, outdoor seating areas, etc.</li>
</ul>

<big><strong>OUR PHILOSOPHY ON DEVELOPMENT:</strong></big>
<p>This group holds firmly to the belief that the world will only continue to grow in population, forcing communities to constantly adapt and reevaluate how best to cohabitate one with another, and that the most powerful tool available to us is our own sheer will to be shapers of that future rather than mere bi-products of change. Starting from that base assumption, we view each new development not as a necessary evil of society but as an opportunity to shape the structures and environments that our future generations will inherit. Through monthly public meetings, we will invited potential developers to engage in a two-way dialogue with the community regarding their preliminary design proposal, giving developer’s critical feedback by which to adjust their projects in order to better suit the community’s needs. Please note that the goal of this group is not to stop development but to make it better than it otherwise would be had the neighborhood not engaged the developer into discussion. We look to the future, with a healthy respect for our past, and hope that those joining us in discussion will share our passion for the opportunities that lie ahead when we put our heads together in collaboration.</p>
</html>