<div class="row navbar pretty" id="nav1">
  <!-- Toggle for mobile navigation, targeting the <ul> -->
  <a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="three columns">
  </h1>
  <ul class="nine columns">
    <li><a href="/lurc/home">Home</a></li>
    <li>
      <a href="/lurc/about">About</a>
      <div class="dropdown">
        <ul>
          <li><a href="/lurc/our_goals">Our Goals</a></li>
          <li><a href="/members">Memebers</a></li>
          <li><a href="#">By Laws</a></li>
          <li><a href="#">Ground Rules</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Review map</a></li>
    <li><a href="#">Resouces</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</div>
